@using Microsoft.AspNetCore.Identity
@using ContactsApp.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                @*Hello @User.Identity?.Name!*@
                <i class="fa-regular fa-user" id="user-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">
                    <i class="fa-solid fa-right-from-bracket" id="logout-icon"></i>
                </button>
            </form>
        </li>
@*        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/logout">
                <i class="fa-solid fa-right-from-bracket" id="logout-icon"></i>
            </a>
        </li>*@
    }
    else
    {
        @*        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>*@
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">
                <i class="fa-solid fa-right-to-bracket" id="login-icon"></i>
            </a>
        </li>
    }
</ul>
